<?xml version='1.0' encoding='utf-8'?>
<plugin id="ubibot-plugin-aliyun" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UbibotPluginAliyun</name><js-module name="UbibotPluginAliyun" src="www/UbibotPluginAliyun.js"><clobbers target="cordova.plugins.UbibotPluginAliyun" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="UbibotPluginAliyun"><param name="ios-package" value="UbibotPluginAliyun" /></feature></config-file><source-file src="src/ios/UbibotPluginAliyun.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="UbibotPluginAliyun"><param name="android-package" value="ubibot-plugin-aliyun.UbibotPluginAliyun" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/UbibotPluginAliyun.java" target-dir="src/ubibot-plugin-aliyun/UbibotPluginAliyun" /></platform></plugin>