<?xml version='1.0' encoding='utf-8'?>
<plugin id="ubibot-plugin-aliyun" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UbibotPluginAliyun</name><js-module name="UbibotPluginAliyun" src="www/UbibotPluginAliyun.js"><clobbers target="cordova.plugins.UbibotPluginAliyun" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="UbibotPluginAliyun"><param name="ios-package" value="UbibotPluginAliyun" /></feature></config-file><source-file src="src/ios/UbibotPluginAliyun.m" /></platform></plugin>